<div class="container">
	<navgps></navgps>
	<div class="container-fluid fluid_nav">
		<div class="side_left">
			<h3>立即下载</h3>
			<div class="side_image">
				<img src="./img/52404.png" class="download_img">
			</div>
			<div class="side_nav">
				<div class="download_detile">
					<a href="/test" style="text-decoration:none;"><span>Iphone</span></a>
					<a href="/test"><span><img src="./img/iphone.png" style="margin-left:5px"></span></a>
				</div>
				<div class="download_detile">
					<a href="/test" style="text-decoration:none;"><span>Android</span></a>
					<a href="/test"><span><img src="./img/android.png" class="forone"></span></a>
				</div>
			</div>
		</div>
		<div class="side_right">
			<img class="side_right_image" src="./img/280165.jpg" />
		</div>
	</div>
	<div class="container-fluid fluid_nav background_specile">
		<h1>我们是干什么的？</h1>
		<div class="row" style="margin-top:50px">
		  <div class="col-md-4 col-sm-6">
		  	<a href="#" class="thumbnail">
		      <img src="./img/8cb137.jpg" alt="...">
		    </a>
		    <h3>精准匹配</h3>
		    <div class="paragraph">
		    	<p>LBS<b>|</b>根据用户家庭住址匹配附近练车场地</p>
		    	<p>兴趣爱好<b>|</b>练车结束教练带着学员组队LOL</p>
		    	<p>组团练车<b>|</b>公司、好友、情侣专属报名通道</p>
		    </div>
		  </div>
		  <div class="col-md-4 col-sm-6">
		  	<a href="#" class="thumbnail">
		      <img src="./img/8f72ae7100_480.jpg" alt="...">
		    </a>
		    <h3>预约教练</h3>
		    <div class="paragraph">
		    	<p>一键预约<b>|</b>10秒内完成预约</p>
		    	<p>私人订制<b>|</b>根据教练排程自助预约练车时间</p>
		    	<p>人数限定<b>|</b>每车、每时段练车学员不超过4人</p>
		    </div>
		  </div>
		  <div class="col-md-4 col-sm-6">
		  	<a href="#" class="thumbnail">
		      <img src="./img/200910.jpg" alt="...">
		    </a>
		    <h3>驾考社区</h3>
		    <div class="paragraph">
		    	<p>认识新学员</p>
		    	<p>吐槽SB教练</p>
		    	<p>丰富多彩课后活动</p>
		    </div>
		  </div>
		</div>
	</div>
	<div class="container-fluid promise">
		<h1>6大承诺</h1>
		<div class="row">
		  <div class="col-md-4">
		  	<div class="top_new">
		  		<span><img src="./img/6O2Q3O560.jpg"></span>
		  		<span class="textList">杜绝潜规则</span>
		  	</div>
		  	<HR>
		  	<p>学员反馈教练吃拿卡要情况属实，立即终身注销账号。</p>
		  </div>
		  <div class="col-md-4">
		  	<div class="top_new">
		  		<span><img src="./img/029.jpg"></span>
		  		<span class="textList">无需等待考试</span>
		  	</div>
		  	<HR>
	  		<p>一旦报名成功立即安排考试</p>
		  </div>
		  <div class="col-md-4">
		  	<div class="top_new">
		  		<span><img src="./img/40Z935.jpg"></span>
		  		<span class="textList">不必排队练车</span>
		  	</div>
		  	<HR>
		  	<p>平台入驻教练课程会提前安排出来，且最多教学人数为4人。</p>
		  </div>
		</div>
		<div class="row">
		  <div class="col-md-4">
		  	<div class="top_new">
		  		<span><img src="./img/21117251.jpg"></span>
		  		<span class="textList">杜绝潜规则</span>
		  	</div>
		  	<HR>
		  	<p>学员反馈教练吃拿卡要情况属实，立即终身注销账号。</p>
		  </div>
		  <div class="col-md-4">
		  	<div class="top_new">
		  		<span><img src="./img/2009577813.jpg"></span>
		  		<span class="textList">无需等待考试</span>
		  	</div>
		  	<HR>
		  	<p>一旦报名成功立即安排考试</p>
		  </div>
		  <div class="col-md-4">
		  	<div class="top_new">
		  		<span><img src="./img/coolcar_11.jpg"></span>
		  		<span class="textList">不必排队练车</span>
		  	</div>
		  	<HR>
		  	<p>平台入驻教练课程会提前安排出来，且最多教学人数为4人。</p>
		  </div>
		</div>
	</div>
	<div class="container-fluid bottom_list">
		<p>Copyright &copy; 2014 成都益驾网络科技有限责任公司</p>
		<p class="listTwo">All Rights Reserved 蜀ICP备15012589号-1</p>
	</div>
</div>
