<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <a href="/"><img src="./img/LOGO.png" class="home-image"></a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="special">首页</a></li>
        <li><a href="/join" class="special" >加入我们</a></li>
        <li><a  class="special" style="color:green" >联系我们:028-64897280</a></li>
        <li><a href="#"><img src="./img/3414808.png" class="wechat"></a></li>
        <li><a href="#"><img src="./img/35096.jpg" class="microblog"></a></li>
      </ul>
    </div>
  </div>
</nav>