<div class="container test">
	<div class="showLogo">
		<a href="/"><img src="./img/LOGO.png" alt="LOGO"></a>
	</div>
	<hr>
	<div class="content">
		<h2>久等了，益驾马上为您解决驾考这一世纪难题！</h2>
		<h3>益驾app内测已开放，您可以在下方留下邮箱了解测试详情。</h3>
		<form name="email"  novalidate>
			<input type="email" ng-model="user.email" class="btn btn-default">
			<button type="submit" class="glyphicon glyphicon-ok btn btn-default" ng-click="postemail()" ></button>
		</form>
	</div>
</div>