body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:1em/1.5tahoma, arial, \5b8b\4f53; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
body {
	height: 100%
}
.home-image{
	width:30%;
	height:auto;
	vertical-align:middle;
	padding-top: 7px;
} 
body{
	width:100%;
}
.collapse{
	padding-left:0px;
}
.wechat{
	height:30px;
}
.microblog{
	height:30px;
}
.special{
	margin-top: 5px;
}
.side_left{
	width: 12%;
	float: left;
	padding-top: 20px
}
.side_left h3{
	text-align: center;
	margin-bottom: 15px
}
.side_nav{
	width:100%;
	border-radius: 5px;
	background-color:#A52A2A;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px
}
.download_detile{
	width: 90%;
	margin:0 auto;
	padding:5px 0px 5px 0px;
	border-radius: 15px;
	border: 1px solid white;
	margin-top: 5px;
	margin-bottom: 5px 
}
.download_detile span img{
	width:30%;
	/* padding-left: 20px */
}
.download_detile span{
	/* display: inline-block; */
	margin-left: 10px;
	overflow: hidden;
}
/* .side_image img{
	width:90%;
	margin-left: 6px
} */
.side_image{
	width:90%;
	margin:0 auto;
}
.side_image img{
	width: 100%;
	margin-bottom: 10px
}
.side_right{
	float:left;
	margin-left: 3%;
	width: 85%;
}
.side_right_image{
	width: 100%;
	margin: 0 auto;
}
.container-fluid h1{
	text-align: center;
	padding-top: 30px
}
.fluid_nav{
	padding-top: 30px;
	padding-bottom: 30px
}
.col-md-4 h3{
	text-align: center;
}
 .thumbnail{
	border: none
} 
.paragraph{
	width:100%;
	margin-top: 15px
}
.paragraph p{
	text-align: center;
	margin-top: 10px;
}
.paragraph p b{
	padding-left: 15px;
	padding-right: 15px
}
.background_specile{
	background-color: #F5F5F5;
}
.thumbnail{
	background-color:  #F5F5F5;
}
.promise h1{
	text-align: left;
	margin-bottom: 30px
}
/* .top_new span{
	display: inline-block;
} */
.top_new span img{
	width: 40%;
}
.textList{
	margin-left: 30px
}
.col-md-4{
	margin-bottom: 20px
}
hr{
   margin-top: 20px;
   margin-bottom: 20px
}
.bottom_list p{
	text-align: center;
	margin-top: 20px;
}
.listTwo{
	margin-bottom: 30px
}
.fluid_nav{
	border-radius: 15px
}
.recruitList{
	padding: 30px 0px 30px 0px; 
}
.even{
	background-color:#F2F2F2 
}
.odd:{
	background-color:#d7d7d7 
}
.test{
	background-image:url(/img/image.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%
}
.showLogo{
	padding: 30px 0px 30px 0px;
}
.showLogo img{
	width:20%;
	height: auto;
	vertical-align:middle;
}
.content h2{
	padding: 30px 0px 30px 0px;
}
.content h3{
	padding-bottom: 30px;
	padding-top: 10px
}
.recruitImg img{
	/*position:relative;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);*/
	/*width:150px;
	height:300px;
	margin-top: 50px*/
	width: 20%
}
.recruitImg{
	/*float: left;
	margin-left: 6%;*/
	position:relative;
	top:50%;
	left:5%;
	transform:translate(-5%,-50%);
	-ms-transform:translate(-5%,-50%);	/* IE 9 */
	-moz-transform:translate(-5%,-50%);	/* Firefox */
	-webkit-transform:translate(-5%,-50%); /* Safari 和 Chrome */
	-o-transform:translate(-5%,-50%); 	/* Opera */
	
}
.jobside{
	position:relative;
	top:-90%;
	left:32%;
	transform:translate(0%,200px);
	-ms-transform:translate(0%,-50%);	/* IE 9 */
	-moz-transform:translate(0%,-50%);	/* Firefox */
	-webkit-transform:translate(0%,25%); /* Safari 和 Chrome */
	-o-transform:translate(0%,-50%); 	/* Opera */
	width: 65%
}
.job-list{
	border: 1px solid gray;
}
.jobside h2{
	padding: 10px 0px 10px 0px
}
.jobside h4{
	padding: 10px 0px 10px 0px
}
.job-list{
	height: 400px
}

